md-content.md-default-theme {
  background-color: #eee;
}

md-card {
  background-color: #fff;
}
md-card h2:first-of-type {
  margin-top: 0;
}

md-toolbar .md-button.md-default-theme {
  border-radius: 99%;
}

h2 {
  font-weight: 400;
}

.md-toolbar-tools-bottom {
  font-size: small;
}
.md-toolbar-tools-bottom :last-child {
  opacity: 0.8;
}

md-toolbar:not(.md-hue-1),

md-sidenav {
  fill: #737373;
}
md-sidenav ng-md-icon {
  position: relative;
  top: 5px;
}

a.sidenav {
    color: rgba(0,0,0,.87);
    text-decoration: none;
}